 //nav logo
 .logo {
   display: flex;
   align-items: center;
   height: 55px;
   margin: 16px;
  
   img {
     width: 45px;
     height: 45px;
     display: flex;

   }

   h1 {
     display: flex;
     margin: 0 5px;
     font-size: 18px;
     color: white;
   }
 }

 //header
 .site-layout-sub-header-background {
   margin: 16px;
   background: #fff;
 }

 //content
 .site-layout-background {
   background: #fff;
 }